@font-face{
  font-family: bpg;
  src: url(../font/bpg_extrasquare_mtavruli_2009.ttf);
}


.top-nav .list-inline{
  margin-bottom: 0;
  font-weight: bold;
  font-family: bpg;
}

a, a:hover{
  text-decoration: none;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.top-nav .list-inline .list-inline-item:not(:last-child){
  margin-right: 0px;
}

.top-nav{
  background-color: #3a3c36a8;
  width: 100%;
  position: absolute;
  z-index: 777;
  padding: 10px 0 11px;
}

.fixed-top{
  top: 2.8rem;
}

.navbar{
  color: #ffffff;
  position: absolute;
  font-family: bpg;
}
.navbar ul li a{
  color: #848484;
}


.top-nav a{
  color: #ffffff;
}

.list-inline.menu .list-inline-item:not(:last-child){
  margin-right: 26px;
}


.nav-link{
  display: block;
  padding: 1.5rem 1rem;
  padding-bottom: 1.2rem;
  margin-right: 30px;
}

.carousel-caption{
  margin-bottom: 273px;
  margin-right: 430px;
  font-family: bpg;
}

.list-inline-item img{
   margin-top: 10px;
   margin-bottom: 15px;
   margin-right: 16px;
}

.dog img{
  position: relative;
  bottom: 8px;
}
.btn{
  margin-top: 50px; 
  border-radius: 0;
  padding: 10px 15px;
  font-family: bpg;
  
}

.carousel-item{
  height: 730px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  color: #fff;
  font-family: bpg;
  bottom: -111px;
}


.py-5{
  color: #eff1e9;
  height: 210px;

  font-family: bpg;
}
.brand img {
  max-width: 100%;
}

.brand {
  border: 1px solid #ccc;
  padding: 7px;
  display: inline-block;
  border-radius: 3px;
  height: 105px;
}

.nav-item img{
   margin-right: 8px;

}
.h3, h3 {
  font-size: 1.75rem;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  .top-nav{
    display: none;
  }

  .top-nav li a{
    display: none;
  }
  
}